<:Title>
Home

<:Body>
<div class="jumbotron">
  <blockquote>Real time monitoring system for crowd sourced traffic events.</blockquote>
</div>
<div class="jumbotron">
  <h2>SMS</h2>
  <div class="panel panel-default">
    <div class="panel-body" style='font-size="23"'>
      <code>
        SOS {LOCATION} {MESSAGE}
      </code>
      <br/>
      <br/>
      <p>Example</p>
      <code>
        SOS Palayam Please help baby & mother wounded on road!
      </code>
    </div>
  </div>
  <p>to</p>
  <p><a class="btn btn-primary btn-lg" role="button">8129 345 345</a></p>
  <p>(Temporary Number)</p>
</div>

