<:Title>
  {{ view main_path, "title", {controller_group: 'main'} }}

<:Body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <:nav href="/">Home</:nav>
        <:nav href="/dashboard">Dashboard</:nav>
        <:nav href="/app">App</:nav>
      </ul>
      <h3 class="text-muted">ThirdEye</h3>
    </div>

    <:volt:notices />

    {{ view main_path, 'body', {controller_group: 'main'} }}

    <div class="footer">
      <p>By <a href="http://twitter.com/jikkujose">Jikku</a> & <a href="http://twitter.com/rakesh_bs">Rakesh</a> for <a href="http://keralaroadsafetyhack.com">KRSH</a></p>
    </div>

  </div>

<:Nav>
  <li class="{{ if active_tab? }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ yield }}</a>
  </li>

