<:Title>
App

<:Body>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="span4 offset4 well">
      <legend>Report</legend>

      <form e-submit="add_event">
        <div class="form-group">
          <label class="control-label">Location</label>
          <input class="form-control" type="text" value="{{ page._location }}" placeholder="Where did the event happen?" autofocus />
        </div>

        <div class="form-group">
          <label class="control-label">Mobile</label>
          <input class="form-control" placeholder="Your mobile number" value="{{ page._mobile }}">
        </div>

        <div class="form-group">
          <label class="control-label">Content</label>
          <input class="form-control"  value="{{ page._content }}" placeholder="Brief about what happened..">
        </div>

        <div class="form-group">
          <label class="control-label">Type</label>
          <select class="form-control"  value="{{ page._type }}" >
            <option value="accident">Accident</option>
            <option value="road_rage">Road Rage</option>
            <option value="hit_and_run">Hit & Run</option>
            <option value="theft">Theft</option>
          </select>
        </div>

        <button class="btn btn-info btn-block">Report</button>
      </form>
    </div>
  </div>
</div>
